body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border: 5px solid #000000;
}

input[type=number] {
    width: 50px;
}

button {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4a4aeb;
}